.flex{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.intro{
    
    display: flex;
    width: 100%;
    height: 3rem;
    margin-top: 1.5rem;
    /* margin-left: 2rem; */
    justify-content: center;
    color: #464748;
    margin-left: 5%;

}
.editInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    height: 2rem;
    width: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.buttonEditInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-color: #482afa;
    border-radius: 1rem;
    margin-right: 6rem;
}
.divEmail{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    margin-right: 10%;
    background-color: #b8b8bd;
    border-radius: 1rem;
    padding: 0px;
    height: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: -6%;
    color: #464748;

}
.emailText{
    display: flex;
    width: 100%;
    height: 3rem;
    margin-top: 3rem;
    justify-content: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.divSede{
    display: flex;
}
.sedeText{
    display: flex;
    width: 100%;
    height: 3rem;
    margin-top: 3rem;
    justify-content: center;
}
.divInfo{
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
    
}
.divIntro{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #b8b8bd;
    margin-right: 10%;
    border-radius: 1rem;
    height: 7rem;
}
.iconMas{
    display: flex;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;


}