.flex{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.info{
    display: flex;
    width: 100%;
    height: 100vh;
}
.divContainerSede{
    display: flex;
    background-color: #bebbbb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    margin-right: 5%;
    border-radius: 1rem;
    margin-top: 1rem;
}
.inputSelectSede{
    display: flex;
    color: black;
    border-color: #482afa;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.divFormContainer{
    display: flex;
    background-color: #bebbbb;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: 5%;
    border-radius: 0.5rem;
    margin-top: 2rem;
    align-items: center;
    /* flex-wrap: nowrap; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.button{
    display: flex;
    border: none;
    background-color: #482afa;
    color: aliceblue;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

}
.divClasification{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.inputClasification{
    display: flex;
    margin-right: 0.8rem;
}
.divInputClasification{
    display: flex;
    margin-right: 0.5rem;
    justify-content: space-around;
    background-color: #482afa;
    border-radius: 0.5rem;
    color: aliceblue;
    padding: 0.2rem;
}
.divNotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
   
}
.divInputNotes{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    justify-content: center;
  
}
.inputNotes{
    display: flex;
    background-color: #c6c6fe;
    border-radius: 0.5rem;
}
.divImages{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.inputImage{
    display: flex;
    background-color: blue;
    width: 80%;
    color: aliceblue;
}